$navigation-colour: #f3c49c;
$sidebar-colour: #263238;
$block1-colour: #e07876;
$block2-colour: #cc7d93;
$block3-colour: #6e6586;
$block4-colour: #37658C;
$navigation-height: 50px; /* appears to be fixed in the video*/
